/* You can add global styles to this file, and also import other style files */
$black-rat: #1b2228;
$black-rat-white: #58656b;
body {
    background-color: $black-rat !important;
    color: $black-rat-white !important;
    font-size: 0.8em;
}
hr {
    // background: $black-rat-white !important;
}
p{
    margin-bottom: 0.3em !important;
}

.modal-body, .modal-header {
    background-color: #1b2228;
}
.modal-header {
    border-bottom: 1px solid $black-rat !important;
}
.ngx-pagination a, .ngx-pagination button{
    color: $black-rat-white !important;
}
/*.btn-group-center {
    margin: auto;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}*/

.bg-rat {
    background-color: $black-rat-white !important;
    border: 1px $black-rat-white;
}