/* You can add global styles to this file, and also import other style files */
$black-rat: #1b2228;
$black-rat-white: #58656b;
body{
    background-color: $black-rat !important;
    color: $black-rat-white !important;
}